<section>
  <div class="container text-center">
    <h2 class="mb-4">Massey Economic Indicators</h2>
    <hr class="my-4">
    <p class="text-muted mb-0">An Academic project developed as part of the Massey INMS Scholarship Program, with the goal of estimating key economic indicators <br>
                               such as GDP using machine learning algorithms, broken down by region and industry. The project involved the creation of a website with <br>
                               the capability to display real-time economic data responsively in a dashboard format   </p>
    <br>
    <h4 class = "projectsubheader">Technologies Used</h4>
    <hr class="my-4">
    <p>ReactJS, Plot.ly, AWS, Python</p>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://ec2-54-252-243-65.ap-southeast-2.compute.amazonaws.com">View</a>
    <div class = "project-images" style="margin-top: 20px">
      <img src="../assets/masseyecon1.png" alt="">
      <img src="../assets/masseyecon3.png" alt="">
      <img src="../assets/masseyecon2.png" alt="">
    </div>
  </div>
</section>