<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="main-header">
          <strong>William Wrigley</strong>
        </h1>
        <p class="mb-3">Delivering responsive, dynamic and visually appealing web apps <br> using modern HTML5/CSS/JS standards</p>
        <hr>
        <img class="img-fluid profile" src="../assets/profile.jpg" alt="" width="460" height="460">
      </div>
      <div class="col-lg-8 mx-auto logos">
        <div style= "padding-left: 20px">
          <a href = "https://www.linkedin.com/in/william-wrigley-25439b140/"><img class="img-fluid logo" src="../assets/linkedin.png" alt=""></a>
          <a href = "https://github.com/will1467"><img width = "50px" class="img-fluid logo" src="../assets/github.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a name="experience"></a>
        <h2 class="section-heading">My Experience</h2>
        <hr class="my-4" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://reactjs.org/"
            ><img class="img-fluid react" src="../assets/react.png" alt=""
          /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://openui5.hana.ondemand.com/"
            ><img class="img-fluid" src="../assets/openui5.png" alt=""
          /></a>
          <p class="text-muted mb-0" style>
            Development kit for building apps in
            <a style="color:orange" href="https://www.sapfioritrial.com/"
              >SAP Fiori</a
            >
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://angular.io/"
            ><img class="img-fluid angular" src="../assets/angular.png" alt=""
          /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://www.djangoproject.com/"
            ><img class="img-fluid django" src="../assets/django.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="col-lg-12 text-center">
    <a name="projects"></a>
    <h2 class="section-heading">My Projects (Click to View)</h2>
    <hr class="my-4" />
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" routerLink="/project/Chirper">
          <img
            class=""
            src="../assets/chirper.png"
            class="project-image"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Chirper
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" routerLink="/project/EconIndicators">
          <img
            class=""
            src="../assets/econindicators.png"
            class="project-image"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                GDP Live
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" routerLink="/project/Angular">
          <img class="" src="../assets/app4apps.png" class="project-image" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                App4Apps
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white">
  <div class="container text-center">
    <a name="resume"></a>
    <h2 class="mb-4">Resume</h2>
    <hr class="my-4" />
    <h2 class="mb-4 contact">
      <a
        *ngIf="!isNotMobile"
        href="https://docs.google.com/document/d/1lgRrwjcXsECwFcE8s44VxWHijP1Nrz2ZiW7hmbsqBAE/edit?usp=sharing"
        >View CV</a
      >
    </h2>
    <iframe
      *ngIf="isNotMobile"
      class="docframe"
      width="100%"
      src="https://docs.google.com/document/d/e/2PACX-1vTaGk3my_YuqlYCViLRO6IRUN-vU-f-bymt76yNzPC3qNf9rdVPSrVq6seLFQqnifOQJaZ_Oyo00rjH/pub?embedded=true"
    ></iframe>
  </div>
</section>

<section id="contact">
  <a name="contact"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contact Me</h2>
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <hr class="my-4" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mr-auto text-center" style="margin: auto">
        <h2 class="mb-4 contact">
          <a href="mailto:williamawrigley@gmail.com"
            >williamawrigley@gmail.com</a
          >
        </h2>
        <h2 class="mb-4 contact">0220918088</h2>
      </div>
    </div>
  </div>
</section>
