<section>
  <div class="container text-center">
    <h2 class="mb-4">App4Apps</h2>
    <hr class="my-4">
    <p class="text-muted mb-0"> A personal project created with the goal of gaining proficiency in Angular. Project architecture includes a NodeJs server and PostgreSQL database. 
      The website allows users to register and create App ideas and share them with other users. The app also supports basic social media functions such as likes and comments
    </p>
    <br>
    <h4 class = "projectsubheader">Technologies Used</h4>
    <hr class="my-4">
    <p>Angular, NodeJs, PostgreSQL</p>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://bitbucket.org/WWrigley/app4apps/src/master/">View Source Code</a>
    <div class = "project-images" style="margin-top: 20px">
      <img src="../assets/app4apps1.png" alt="">
      <img src="../assets/app4apps2.png" alt="">
      <img src="../assets/app4apps3.png" alt="">
    </div>
  </div>
</section>