<section>
    <div class="container text-center">
      <h2 class="mb-4">Chirper - Bird Song Analysis</h2>
      <hr class="my-4">
      <p class="text-muted mb-0">An Academic Project for Massey University, the goal of the web application "Chirper" was to act as a front-end interface for a server
         which would analyse bird song using machine learning algorithms. The website allows users to upload audio files, visually analyse them using spectrograms
         and then send chunks of the bird song - known as "syllables" to the back-end server</p>
      <br>
      <h4 class = "projectsubheader">Technologies Used</h4>
      <hr class="my-4">
      <p>Django Web Server, Python, MySQL</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://chirper.online/">View</a>
      <div class = "project-images">
        <img src="../assets/chirperupload.PNG" alt="">
        <img src="../assets/chirperdashboard.PNG" alt="">
        <img src="../assets/chirpersyllable.PNG" alt="">
      </div>
    </div>
  </section>